.container-beneficios{
    margin-top: 7.35rem;
}
.container-beneficios-contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 20px;
    gap: 0.5rem;
}

.container-beneficios-contenido-text{
    margin-bottom: 1.5rem;
}

.container-beneficios-contenido-cajas{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(250px, 100%),auto));
    gap: 1rem;
}

