.container-beneficios{
    margin-top: 2rem;
}
.container-beneficios-contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    margin: 2rem auto;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 20px;
    gap: 0.2rem;
    flex: 1 0 100px;
}

.container-beneficios-contenido-text{
    margin-bottom: 1.5rem;
}
