.container-parrafo{
    background-color: #F1F6F9;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #F1F6F9;
    transition: var(--transition);
    width: 100%;
}

.container-parrafo:hover{
    background-color: transparent;
}

.container-parrafo p{
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
}

.container-parrafo p:hover{
    transform: scale(1.04);
}