header {
    background-color: #302E46;
    //background-image: url(../../assets/images/cheficon.png);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
}

.logo a h1 {
    color: var(--color-1);
    transition: var(--transition);
    width: 120px;
    min-height: 35px;
}

.logo a h1:hover {
    padding-left: 0.3rem;
    transform: scale(1.02);
}

.logo a img {
    width: 120px;
    min-height: 35px;
    transition: var(--transition);
}

.logo img:hover {
   transform: scale(0.99);
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    font-weight: 600;
    color: var(--color-text);
    transition: var(--transition);
}

nav ul li a:hover {
    background-color: var(--color-3);
    color: var(--color-text);
    padding: 0.5rem 0.8rem;
    border-radius: 7px;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.25));
}

nav ul li a.active {
    background-color: var(--color-3);
    color: var(--color-text);
    padding: 0.5rem 0.8rem;
    border-radius: 7px;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.25));
}

.header-section-3 {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.botones-header-home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-items: end;
}

.botones-header-home .botones-header:nth-child(1) {
    display: none;
}

.menu-toogle {
    display: none;
}

.header-boton-subir{
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 2.5rem;
    color: #302E46;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    header {
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
    }

    .botones-header-home {
        grid-template-columns: repeat(1, 1fr);
    }

    .botones-header-home .botones-header:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: block;
    }

    nav ul {
        position: absolute;
        top: 60px;
        right: 5%;
        background-color: #302E46;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem;
        width: max-content;
        height: 175px;
        transition: var(--transition);
        margin: 2rem auto;
        border-radius: 20px;
        filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.10));
    }

    .menu-toogle {
        display: block;
    }

    .menu-toogle svg {
        display: block;
        font-size: 2.5rem;
        color: var(--color-text);
    }
    
    .menu-toogle svg:hover {
        transform: scale(1.1);
    }



    .botones-header-home .botones-header:nth-child(2) {
        display: flex;
    }
}