/*Crear variables*/
:root {
  --color-1: #303841;
  --color-2: #f6c90e;
  --color-3: #ea5455;
  --color-4: #0dc143;
  --color-text: #fafafa;

  --container-width-lg: 80%;
  --container-width-md: 100%;
  --container-width-sm: 100%;

  --transition: all 400ms ease;
}
/*contenedor <div id="root"></div<*/
#root {
  width: var(--container-width-lg);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  #root {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 600px) {
  #root {
    width: var(--container-width-sm);
  }
}
