@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Crear variables*/
:root {
  --color-1: #303841;
  --color-2: #f6c90e;
  --color-3: #ea5455;
  --color-4: #0dc143;
  --color-text: #fafafa;

  --container-width-lg: 50%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  /* Para utilizar rem */
  font-size: 90%;
  /*mejora al dirigirse de un section a otro section*/
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Cabin', sans-serif;
  background-color: #F1F6F9;
}

ol,
ul,
li {
  list-style: none;
}

button{
  color: #FFFFFF;
  background: #6278F7;
  padding: 1.3rem 2rem;
  border-radius: 0.5rem;
}
button:hover{
  cursor: pointer;
  transform: scale(0.9);
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

/*contenedor <div id="root"></div>*/
#root {
  width: var(--container-width-lg);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  #root {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 600px) {
  #root {
    width: var(--container-width-sm);
  }
}

